
:root {
    --space-sm: 1rem;
    --space-lg: 2rem;
    --space-xl: 3rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif ;
    color: #414B5C;
    display: block;
    justify-content: center;
    align-items: center;
}
h1 {
    size: 2.5rem;
}
h2 {
    size: 2rem;
}
h3 {
    size: 1.5rem;
}
p {
    font-size: 1rem line-height 1.6;
}
.container{
    max-width: 1200px;
    margin: auto; 
    display: flex;

    justify-content: center;
    align-items: center;
    text-align:left;
    
}

header{
     display: flex;
      color: #6892EC;
   
    }



nav{
    color:#A7B0BD;
    background-color: #FEFEFE;
    top: 5px;
    right: 5px;

}


section{
    background-color: #AAB3BF;
    padding: 2rem;
    justify-content:center;
    align-items: center;
    text-align: center;
}

button {
  border: 0;
  background:#2562EE;
  color:#99B5F1;
  padding: 14px 28px;
  border-radius: 7px;
  font-weight: bold;
}

.left-div{
    width: 50%;
   
    justify-content: center;
    align-items: center;
  
    padding: 2rem;
}

.rigth-div{
     width: 50%;
   
     justify-content: center;
     align-items: center;
  
     padding: 2rem;
}


.intrutaction-rigth {
    width: 50%;
    min-height: 250px;

    background-color: #AAB3BF;

    display: flex;
    justify-content: center;
    align-items: center;
}


#profile-img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #E2E8F0;
}

img{
  width: 50%;
  height: 50%;
 background-color: #FEFEFE;
}





article{
    background-color: darkorange;
}

aside{
    background-color: chartreuse;
}



main {
    background-color: deeppink;
}

footer {
    background-color: rgb(255, 0, 0);
}



.card {
  position: relative;
  
  display: block;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  
  background-color: white;
  color: #333;
  font-size: 16px;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-title { }
.card-description { }
.button { }
.button-primary { }
.navbar { }
.navbar-item { }






















/* Mobile First (col-sm-*) */
.col-sm-1 {width: 8.33%;}
.col-sm-2 {width: 16.66%;}
.col-sm-3 {width: 25%;}
.col-sm-4 {width: 33.33%;}
.col-sm-5 {width: 41.66%;}
.col-sm-6 {width: 50%;}
.col-sm-7 {width: 58.33%;}
.col-sm-8 {width: 66.66%;}
.col-sm-9 {width: 75%;}
.col-sm-10 {width: 83.33%;}
.col-sm-11 {width: 91.66%;}
.col-sm-12 {width: 100%;}

/* Desktop 901px */
@media screen and (min-width: 600px) {
  .col-lg-1 {width: 8.33%;}
  .col-lg-2 {width: 16.66%;}
  .col-lg-3 {width: 25%;}
  .col-lg-4 {width: 33.33%;}
  .col-lg-5 {width: 41.66%;}
  .col-lg-6 {width: 50%;}
  .col-lg-7 {width: 58.33%;}
  .col-lg-8 {width: 66.66%;}
  .col-lg-9 {width: 75%;}
  .col-lg-10 {width: 83.33%;}
  .col-lg-11 {width: 91.66%;}
  .col-lg-12 {width: 100%;}
}