
header{
    background-color: gold;
}
nav{
    background-color: cornsilk;
}
section{
    background-color: aqua;
}
article{
    background-color: darkorange;
}

aside{
    background-color: chartreuse;
}

main {
    background-color: deeppink;
}

footer {
    background-color: rgb(255, 0, 0);
}



.card {
  position: relative;
  
  display: block;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  
  background-color: white;
  color: #333;
  font-size: 16px;
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
img{
    height: 100px;
    width: 100px;
}

.card-title { }
.card-description { }
.button { }
.button-primary { }
.navbar { }
.navbar-item { }